#firstImage {
    width: 80%;
    height: 200px;
    background-size: cover
}
#secondImage {
    width: 80%;
    height: 200px;
    background-size: cover
}
#thirdImage {
    width: 80%;
    height: 200px;
    background-size: cover
}
#fourthImage {
    width: 80%;
    height: 200px;
    background-size: cover
}